<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class="container" style="width: 400; float: left;">
            <div>
                <a
                class= "btn btn-primary"
                style="margin-bottom: 10px; margin-top: 10px; color:aquamarine;"
                th:href="@{/usermanagement/login}"
                >
                Login
            </a>
            </div>
            
            <form
                th:action= "@{/user/save}"
                method="post"
                th:object="${user}"
                
                >
                    <!-- <div class="form-group" hidden>
                        <label for="Id" class="col-form-label">Id</label>
                        <input 
                            type="text"
                            class="form-control"
                            id="Id"
                            th:field="*{Id}">
                    </div> -->
                    <div class="form-group">
                        <label for="FullName" class="col-form-label">Full Name</label>
                        <input
                            type="text"
                            class="form-control"
                            id="FullName"
                            th:field="${employee.FullName}">
                    </div>
                    <div class="form-group">
                        <label for="BirthDate" class="col-form-label">Birth Date</label>
                        <input
                            type="date"
                            class="form-control"
                            id="BirthDate"
                            th:field="${employee.BirthDate}">
                    </div>
                    <div class="form-group">
                        <label for="Email" class="col-form-label">Email</label>
                        <input
                            type="text"
                            class="form-control"
                            id="Email"
                            th:field="${employee.Email}">
                    </div>
                    <div class="form-group">
                        <label for="Password" class="col-form-label">Password</label>
                        <input
                            type="text"
                            class="form-control"
                            id="password"
                            th:field="*{Password}"
                            >
                    </div>
                    
                    <!-- <div class="input-group mb-3">
                        <select class="custom-select" id="Id" th:field="*{user.role.Id}">
                          
                          <option th:each="role : ${roles}" th:text="${role.Level}" th:value="${role.Id}" ></option>
                        </select>
                        <div class="input-group-append">
                          <label class="input-group-text" for="inputGroupSelect02">Options</label>
                        </div>
                      </div> -->

                      
                    <div style="margin-top: 5;">
                        <button type="submit" class="btn btn-primary">
                            Save
                        </button>
                    </div>
            </form>
        </div>
    </body>
</html>